*{
    margin: 10px auto;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

html, body{
    margin: 0 auto;
    width: 100%;
    background-color: rgb(79,79,79);
    height: 100vh;
}

body{
    display: flex;
    justify-content: center;
    align-content: center;
}

main{
    margin: auto;
    height: 500px;
}

main ol li{
    list-style-type: none;
    transition: .3s;
    width: 400px;
    border-radius: 3px;
}

main ol li a{
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    transition: .3s;
}

main ol li:hover{
    background-color: #2AB26A;
}

main ol li:hover a{
    color: black;
}

main h1{
    font-size: 2.5em;
    margin: 25px auto;
    color: #2AB26A
}